BODY {
    white-space: nowrap;
    background-color: white;
    font-family: sans-serif;
    margin: 0px;
}

header .btn-group {
    width: 100%;
}

header .btn {
    width: 90%;
}

header .btn.dropdown-toggle {
    width: 10%;
}

header .open>.dropdown-menu {
    display: block;
    visibility: visible;
    width: 99%;
}

header .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
    background-image:linear-gradient(to bottom,#08c,#04c);
}


header .dropdown-menu {
    display: block;
    visibility: hidden;
}

#mapsImg {
    position: absolute;
    padding-left: 5px;
    height: 1.4em;
    width: auto;
}

/*#selectedStation {*/
/*background: url("/resource/img/Maps-32.png") no-repeat;*/
/*background-size: 1.5em;*/
/*overflow: visible;*/
/*}*/

#stations {
    width: 100%;
    margin-bottom: 0;
}

#content {
    margin: 5px;
}

#statistics table {
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
}

#statistics table td {
    padding: 0;
}

#statistics table td.first {
    width: 1px;
    font-weight: bold;
    white-space: nowrap;
}

#statistics table td.pollution {
    background-color: lightgray;
}

#statistics table td.pollution > div {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    font-weight: bold;

}

#statistics table td.pollution > div.exceeded {
    background-color: #D70000;
}

#statistics table td.pollution > div.ok {
    background-color: green;
}

footer h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

footer .lastRefresh {
    font-weight: normal;
    font-style: italic;
}